.sideBar{
    height: 100vh;
    flex: 0.2;
    min-width: 220px;
    color: white;
    background-color: #040404;
    padding: 0 10px;
    position: fixed;
    left: 0;
} 

.sidebar-logo{
    height: 65px;
    margin-right: auto;
    padding: 10px 10px 10px 0;
}

.playlist{
    margin-left: 10px;
    padding: 5px;
    font-size: 12px;
}

.sideBar > hr {
    border: 1px solid #282828;
    width: 90%;
    margin: 9px auto;
}
