.sidebarOption{
    display: flex;
    align-items: center;
    color: gray;
    height: 40px;
    cursor: pointer;
    transition: 200ms color ease-in;
}

.sidebarOption:hover{
    color: white;
}

.sidebarOption-icon{
    padding: 0 10px;
}

.sidebarOption > p{
    margin-left: 20px;
    font-size: 13px;
    font-weight: 700;
}

.sidebarOption:nth-child(5) {
    margin-top: 25px
}

.playlistName{
    padding: 0;
}