.songRow{
    margin-left: 20px;
    padding: 5px 20px 5px 20px;
    display: flex;
    align-items: center;
    color: white;
}

.songRow:hover{
    cursor: pointer;
    background-color: black;
    color: white;
    opacity: 0.8;
    border-radius: 3px;
}

.songRow-info{
    margin-left: 20px;
}

.songRow-info > h1 {
    font-size: 16px;
    margin-top: 3PX;
}

.songRow-info > p{
    color: white;
    opacity: 0.7;
    font-size: 14px;
}


.song-img{
    height: 40px;
    width: 40px;
}

.album .added-at .time {
    font-size: 14px;
}

.album{
    position: absolute;
    left: 365px;
    margin-left: 200px;
    opacity: 0.7;
}

.added-at{
    position: absolute;
    right: 136px;
    margin-right: 200px;
    opacity: 0.7;
    

}

.time{
    position: absolute;
    right: 0;
    margin-right: 45px;
    opacity: 0.7;
    
}
